<div class="background-image"></div>
<div class="md:flex-center h-screen flex-col">
  <div class="auth-container">
    <div class="logo">
      <img class="h-11" src="/images/logo-with-title.png" alt="Shadow Apps">
    </div>
    <div class="header">
      <span>Sign In</span>
    </div>
    <div class="form">
      <div id="email" class="form-field">
        <input type="email" name="email" placeholder="Email address">
        <div class="error"></div>
      </div>
      <div id="login-id" class="form-field hidden">
        <div class="input">
          <span class="value"></span>
          <span id="change-btn" class="action">Change</span>
        </div>
      </div>
       <div id="password" class="form-field hidden relative">
        <input type="password" name="password" placeholder="Email password">
        <span class="toggle-password-view">
          <svg id="eye" viewBox="0 0 576 512">
            <path d="M288 80c-65.2 0-118.8 29.6-159.9 67.7C89.6 183.5 63 226 49.4 256c13.6 30 40.2 72.5 78.6 108.3C169.2 402.4 222.8 432 288 432s118.8-29.6 159.9-67.7C486.4 328.5 513 286 526.6 256c-13.6-30-40.2-72.5-78.6-108.3C406.8 109.6 353.2 80 288 80zM95.4 112.6C142.5 68.8 207.2 32 288 32s145.5 36.8 192.6 80.6c46.8 43.5 78.1 95.4 93 131.1c3.3 7.9 3.3 16.7 0 24.6c-14.9 35.7-46.2 87.7-93 131.1C433.5 443.2 368.8 480 288 480s-145.5-36.8-192.6-80.6C48.6 356 17.3 304 2.5 268.3c-3.3-7.9-3.3-16.7 0-24.6C17.3 208 48.6 156 95.4 112.6zM288 336c44.2 0 80-35.8 80-80s-35.8-80-80-80c-.7 0-1.3 0-2 0c1.3 5.1 2 10.5 2 16c0 35.3-28.7 64-64 64c-5.5 0-10.9-.7-16-2c0 .7 0 1.3 0 2c0 44.2 35.8 80 80 80zm0-208a128 128 0 1 1 0 256 128 128 0 1 1 0-256z"/>
          </svg>
          <svg id="eye-slash" class="hidden" viewBox="0 0 640 512">
            <path d="M38.8 5.1C28.4-3.1 13.3-1.2 5.1 9.2S-1.2 34.7 9.2 42.9l592 464c10.4 8.2 25.5 6.3 33.7-4.1s6.3-25.5-4.1-33.7L525.6 386.7c39.6-40.6 66.4-86.1 79.9-118.4c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C465.5 68.8 400.8 32 320 32c-68.2 0-125 26.3-169.3 60.8L38.8 5.1zm151 118.3C226 97.7 269.5 80 320 80c65.2 0 118.8 29.6 159.9 67.7C518.4 183.5 545 226 558.6 256c-12.6 28-36.6 66.8-70.9 100.9l-53.8-42.2c9.1-17.6 14.2-37.5 14.2-58.7c0-70.7-57.3-128-128-128c-32.2 0-61.7 11.9-84.2 31.5l-46.1-36.1zM394.9 284.2l-81.5-63.9c4.2-8.5 6.6-18.2 6.6-28.3c0-5.5-.7-10.9-2-16c.7 0 1.3 0 2 0c44.2 0 80 35.8 80 80c0 9.9-1.8 19.4-5.1 28.2zm9.4 130.3C378.8 425.4 350.7 432 320 432c-65.2 0-118.8-29.6-159.9-67.7C121.6 328.5 95 286 81.4 256c8.3-18.4 21.5-41.5 39.4-64.8L83.1 161.5C60.3 191.2 44 220.8 34.5 243.7c-3.3 7.9-3.3 16.7 0 24.6c14.9 35.7 46.2 87.7 93 131.1C174.5 443.2 239.2 480 320 480c47.8 0 89.9-12.9 126.2-32.5l-41.9-33zM192 256c0 70.7 57.3 128 128 128c13.3 0 26.1-2 38.2-5.8L302 334c-23.5-5.4-43.1-21.2-53.7-42.3l-56.1-44.2c-.2 2.8-.3 5.6-.3 8.5z"/>
          </svg>
        </span>
        <div class="error"></div>
        <div class="actions">
          <span class="link f-right">Forgot Password?</span>
        </div>
      </div>
      <button id="next-btn" class="btn blue w-full">
        <span>Next</span>
      </button>
    </div>
    <div id="forgot-password" class="text-center">
      <span class="link">Forgot Password?</span>
    </div>
    <div class="oauth">
      <div class="line">
        <div class="line-text">
          <span>Or</span>
        </div>
      </div>
      <div class="text">Sign in using</div>
      <div class="flex-center idp microsoft">
        <svg width="28" height="28" viewBox="0 0 48 48">
          <title>Not yet implemented</title>
          <path fill="#ff5722" d="M6 6H22V22H6z" transform="rotate(-180 14 14)"></path>
          <path fill="#4caf50" d="M26 6H42V22H26z" transform="rotate(-180 34 14)"></path>
          <path fill="#ffc107" d="M26 26H42V42H26z" transform="rotate(-180 34 34)"></path>
          <path fill="#03a9f4" d="M6 26H22V42H6z" transform="rotate(-180 14 34)"></path>
        </svg>
      </div>
      <div class="flex-center idp google">
        <svg width="28" height="28" viewBox="0 0 48 48">
          <title>Not yet implemented</title>
          <path fill="#fbc02d" d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12	s5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24s8.955,20,20,20	s20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"></path>
          <path fill="#e53935" d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039	l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"></path>
          <path fill="#4caf50" d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36	c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"></path>
          <path fill="#1565c0" d="M43.611,20.083L43.595,20L42,20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571	c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"></path>
        </svg>
      </div>
      <div class="flex-center idp facebook">
        <svg width="28" height="28" viewBox="0 0 48 48">
          <title>Not yet implemented</title>
          <path fill="#fff" d="M24 5A19 19 0 1 0 24 43A19 19 0 1 0 24 5Z"></path>
          <path fill="#1874f4" d="M26.572,29.036h4.917l0.772-4.995h-5.69v-2.73c0-2.075,0.678-3.915,2.619-3.915h3.119v-4.359c-0.548-0.074-1.707-0.236-3.897-0.236c-4.573,0-7.254,2.415-7.254,7.917v3.323h-4.701v4.995h4.701v13.729C22.089,42.905,23.032,43,24,43c0.875,0,1.729-0.08,2.572-0.194V29.036z"></path>
        </svg>
      </div>
      <div class="flex-center idp twitter">
        <svg width="28" height="28" viewBox="0 0 48 48">
          <title>Not yet implemented</title>
          <path fill="#fff" d="M42,12.429c-1.323,0.586-2.746,0.977-4.247,1.162c1.526-0.906,2.7-2.351,3.251-4.058c-1.428,0.837-3.01,1.452-4.693,1.776C34.967,9.884,33.05,9,30.926,9c-4.08,0-7.387,3.278-7.387,7.32c0,0.572,0.067,1.129,0.193,1.67c-6.138-0.308-11.582-3.226-15.224-7.654c-0.64,1.082-1,2.349-1,3.686c0,2.541,1.301,4.778,3.285,6.096c-1.211-0.037-2.351-0.374-3.349-0.914c0,0.022,0,0.055,0,0.086c0,3.551,2.547,6.508,5.923,7.181c-0.617,0.169-1.269,0.263-1.941,0.263c-0.477,0-0.942-0.054-1.392-0.135c0.94,2.902,3.667,5.023,6.898,5.086c-2.528,1.96-5.712,3.134-9.174,3.134c-0.598,0-1.183-0.034-1.761-0.104C9.268,36.786,13.152,38,17.321,38c13.585,0,21.017-11.156,21.017-20.834c0-0.317-0.01-0.633-0.025-0.945C39.763,15.197,41.013,13.905,42,12.429"></path>
        </svg>
      </div>
    </div>
  </div>
  <div class="sign-up">
    <span>Don't have a Shadow account?</span>
    <a href="/auth/signup">Sign Up Now</a>
  </div>
</div>
<script>
  const emailRegex = /^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$/i;
  
  function showForgotPassword() {
    alert('Forgot password not yet implemented');
  }

  function resetForm() {
    $('.oauth').removeClass('hidden');
    $('#email').removeClass('hidden');
    $('#forgot-password').removeClass('hidden');

    $('#login-id').addClass('hidden');
    $('#password').addClass('hidden');

    $('#password input').val('');
    $('#next-btn span').text('Next');
  }

  function handleVerifyEmailSuccess(email) {
    $('.oauth').addClass('hidden');
    $('#email').addClass('hidden');
    $('#forgot-password').addClass('hidden');

    $('#login-id').removeClass('hidden');
    $('#password').removeClass('hidden');

    $('#login-id .value').text(email);
    $('#next-btn span').text('Verify');
  }

  function handleVerifyEmailError(data) {
    let message = data.error.message;
    if (!data.userExists) message = 'This account cannot be found. Please use a different account or <a href="/auth/signup">sign up</a> for a new account.';
    else if (data.error.code === 'U006') message = 'Your account is not active. Please contact your organization admin.';
    else if (data.error.code === 'U008') message = 'Your account is closed. Please contact the support team.';
    errorField('#email', message);
  }

  function verifyEmail() {
    const email = $('#email input').val();
    let errorMessage = null;
    if (!email) errorMessage = 'Please enter your email address';
    else if (!emailRegex.test(email)) errorMessage = 'Please enter a valid email address';
    if (errorMessage) return errorField('#email', errorMessage);

    $('#next-btn').addClass('loading');
    return $.post('/auth/lookup', { email })
      .done(data => (data.error ? handleVerifyEmailError(data) : handleVerifyEmailSuccess(email)))
      .always(() => $('#next-btn').removeClass('loading'));
  }

  function loginWithPassword() {
    const email = $('#email input').val();
    const password = $('#password input').val();
    if (!password) return errorField('#password', 'Please enter your password');

    $('#next-btn').addClass('loading');
    return $.post('/auth/signin', { email, password })
      .done((data) => (window.location.href = data.redirectUrl))
      .fail(err => errorField('#password', err.responseJSON.message))
      .always(() => $('#next-btn').removeClass('loading'));
  }

  $('#forgot-password .link').on('click', showForgotPassword);
  $('#password .link').on('click', showForgotPassword);

  $('.toggle-password-view').on('click', function () {
    $(this).children('svg').toggleClass('hidden');
    $('#password input').attr('type', $('#password input').attr('type') === 'password' ? 'text' : 'password');
  });

  $('#next-btn').on('click', () => ($('#next-btn span').text() === 'Next' ? verifyEmail() : loginWithPassword()));
  $('#change-btn').on('click', resetForm);
</script>