# Logs
logs
*.log

# Dependency directories
node_modules/

# Optional eslint cache
.eslintcache

# Local test code
src/routes/dev

# Build output
dist
public/styles/global.css

# dotenv environment variable files
.env*

# test reports
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
