<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} - Shadow Accounts</title>
  {{!-- Loading fonts --}}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  
  {{!-- Loading styles --}}
  {{#each styles}}
    <link rel="stylesheet" href="/styles/{{ this }}.css">
  {{/each}}
  
  {{!-- Loading scripts --}}
  {{#if libs.jquery}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  {{/if}}
  {{#if libs.notiflix}}
    <script src="https://cdn.jsdelivr.net/npm/notiflix@3.2.6/dist/notiflix-aio-3.2.6.min.js"></script>
  {{/if}}
  {{#each scripts}}
    <script src="/scripts/{{ this }}.js" async="true"></script>
  {{/each}}
  <script>
    function errorField(selector, message) {
      $(selector).addClass('error');
      $(`${selector} .error`).html(message);
      $(`${selector} input`).one('input', () => $(selector).removeClass('error'));
      return false;
    }

    function toggleWithMask(selector, className, addClass = true) {
      $(selector).toggleClass(className);
      const hasClass = $(selector).hasClass(className);
      if (!hasClass && addClass) setTimeout(() => $(document).one('click', () => $(selector).addClass(className)), 10);
      else if (hasClass && !addClass) setTimeout(() => $(document).one('click', () => $(selector).removeClass(className)), 10);
    }

    function enableSelect(selector) {
      const options = $(`${selector} .select li`).toArray();
      const input = $(`${selector} input`);
      const value = $(`${selector} .select li[data-value="${input.data('value')}"]`).addClass('selected').text();
      input.val(value);

      $(`${selector} input`).off('click').on('click', () => toggleWithMask('#gender .select', 'open', false));
      $(`${selector} .select li`).off('click').on('click', function() {
        const value = $(this).text();
        input.data('value', $(this).data('value'));
        input.val(value);
        $(`${selector} .select li`).removeClass('selected');
        $(this).addClass('selected');
      });
    }
  </script>
</head>
<body>
  {{{ body }}}
</body>
</html>