<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} - Shadow Accounts</title>
  {{!-- Loading fonts --}}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  
  {{!-- Loading styles --}}
  {{#each styles}}
    <link rel="stylesheet" href="/styles/{{ this }}.css">
  {{/each}}
  
  {{!-- Loading scripts --}}
  {{#each scripts}}
    {{#alias this}}
      <script src="/scripts/{{ this }}.js" async="true"></script>
    {{/alias}}
  {{/each}}
</head>
<body>
  {{{ body }}}
</body>
</html>