<div class="background-image"></div>
<div class="h-full error-404">
  <h1 class="">404</h1>
  <h3>Page not found</h3>
  <div>
    <a href="/" class="btn blue">
      <span>Go To Main Page</span>
    </a>
  </div>
</div>