body {
  margin: 0px;
  font-size: 16px;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

a {
  color: #159aff;
  text-decoration: none;
}

.hidden {
  display: none;
}

.\!hidden {
  display: none !important;
}

.relative {
  position: relative;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.align-start {
  align-items: flex-start;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-h-center {
  display: flex;
  justify-content: center;
}

.flex-v-center {
  display: flex;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.w-full {
  width: 100vw;
}

.w-100 {
  width: 100%;
}

.h-full {
  height: 100vh;
}

.h-100 {
  height: 100%;
}

.f-right {
  float: right;
}

.text-center {
  text-align: center;
}

.btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 44px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 600;
  outline: none;
  border: none;
  margin: auto;
  padding: 0px 20px;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
}

.btn.blue {
  box-shadow: 0px 2px 2px #fff;
  background-color: #159aff;
  color: #fff;
}

.btn.blue:hover {
  box-shadow: 0px 2px 2px rgba(90, 183, 254, 0.2);
}

.btn.loading {
  display: block;
  width: 44px;
  border-radius: 22px;
  padding: 0px;
}

.btn.loading::before {
  content: '';
  height: 20px;
  width: 20px;
  display: inline-block;
  margin: 9px;
  border: 3px solid #fff;
  border-top: 3px solid #5ab7fe;
  border-radius: 50%;
  animation: spin 0.5s linear infinite;
}

.btn.loading span {
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.form-field input {
  color: #212121;
  display: block;
  width: 100%;
  height: 44px;
  box-sizing: border-box;
  border-radius: 2px;
  text-indent: 12px;
  font-size: 16px;
  outline: none;
  padding-right: 12px;
  transition: all 0.2s ease-in-out;
  background: #f8f8f8;
  border: 1px solid #e4e4e4;
}

.form-field label {
  font-size: 14px;
  font-weight: 400;
  color: #212121;
  cursor: pointer;
}

.form-field input::placeholder {
  color: #aab2bb;
  letter-spacing: 0.3px;
  font-weight: 400;
}

.form-field .checkbox {
  width: 13px;
  height: 13px;
  border: 2px solid #e4e4e4;
  border-radius: 2px;
  margin-right: 10px;
  cursor: pointer;
}

.form-field .checkbox:hover {
  border: 2px solid #159aff;
}

.form-field input:checked + .checkbox {
  border: 2px solid #159aff;
  background-color: #159aff;
}

.form-field input:checked + .checkbox:after {
  content: '';
  display: block;
  width: 3px;
  height: 8px;
  margin-left: 4px;
  margin-top: 1px;
  border: 0px solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.form-field .input {
  display: inline-flex;
  color: #212121;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
}

.form-field .input .value {
  display: inline-block;
  font-size: 16px;
  padding: 12px 14px;
  line-height: 20px;
  width: auto;
  word-break: break-all;
}

.form-field .input .action {
  padding-right: 14px;
  font-size: 14px;
  color: #0091ff;
  font-weight: 500;
}

.form-field .error {
  display: none;
}

.form-field.error input {
  border: 2px solid #ff8484 !important;
}

.form-field.error .error {
  display: block;
  font-size: 14px;
  margin-top: 10px;
  color: #e92b2b;
}

.line {
  background-color: #f1f1f1;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  position: relative;
}

.line-text {
  position: absolute;
  top: -9px;
  text-align: center;
  width: 100%;
  margin: auto;
}

.line-text span {
  background: #fff;
  color: #707070;
  padding: 0px 10px;
}

.link {
  cursor: pointer;
  color: #159aff;
  display: inline-block;
  font-weight: 500;
  text-decoration: none;
}

.background-image {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  top: 0;
  background-image: url('/images/light-background.svg');
  background-size: cover;
}

.error-404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
}

.error-404 h1,
.error-404 h3 {
  letter-spacing: 10px;
  margin: 0px;
}

.error-404 h1 {
  font-size: 100px;
  margin-top: calc(50vh - 300px);
}

.error-404 h3 {
  font-size: 25px;
}

.error-404 .btn {
  margin-top: 30px;
  letter-spacing: 2px;
}

/** Small screen - sm */
@media (min-width: 576px) {
}

/** Medium screen - md */
@media (min-width: 768px) {
  .md\:flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/** Large screen - lg */
@media (min-width: 992px) {
  .error-404 h1 {
    font-size: 200px;
    margin: 0px;
    margin-top: calc(50vh - 300px);
  }

  .error-404 h3 {
    font-size: 40px;
    margin: 0px;
  }
}

/** Extra Large screen - xl */
@media (min-width: 1200px) {
}
